[v-cloak] {
  display: none;
}


@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  src: url(../fonts/OpenSans-BoldItalic.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/OpenSans-Italic.ttf);
}


* {
  cursor: inherit;
  box-sizing: border-box;
}

input, select, textarea, a[href] {
  cursor: auto;
}

html, body {
  border: 0;
  padding: 0;
  margin: 0;
  cursor: default;
}


body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #eee;
}


.su-toolbar {
  background: #999;
  border-bottom: #666;
}
.su-toolbar > * {
  display: inline-block;
  background: #bbb;
}


.su-statusbar {
  background: #999;
  border-top: #666;
  padding: 0.5rem 1rem;
}


.su-panel-group > * {
  display: inline-block;
  background: #bbb;
}


.su-button {
  padding: 1rem;
}
.su-button:hover {
  background: #ccc;
}

.su-panel {
  padding: 1rem;
}


.su-tab-bar {
  background: #bbb;
}
.su-tab-bar .su-tab-title {
  display: inline-block;
  background: #ddd;
  padding: 0.75rem;
}
.su-tab-bar .su-tab-title:hover {
  background: #e7e7e7;
}
.su-tab-bar .su-tab-title.active {
  background: #eee;
  font-weight: bold;
}


.tu-test-suite {
  list-style-type: none;
  padding: 0;
}
.tu-test-suite ul {
  list-style-type: none;
  padding-left: 18px;
}

.tu-test-case > .tu-title {
  font-weight: bold;
  margin-left: -0.5rem; /* Adjust for no-title checkbox */
}
.tu-test-case > .tu-metadata {
  color: #999;
}
.tu-test-case > .custom-checkbox {
  margin-right: 0; /* Remove extra space from Bootstrap-Vue checkbox */
}

.tu-test-case > .tu-tests {
  display: none;
}
.tu-test-case.expanded > .tu-tests {
  display: block;
}
