/*******************************************************************************
 *
 * Copyright 2013-2014 Trimble Navigation Ltd.
 * License: The MIT License (MIT)
 *
 ******************************************************************************/

html
{
  font-size: 9pt;
}


/*******************************************************************************
 * $TOOLBAR
 */

#toolbar
{
  position: absolute;
  top: 0px;
  height: 50px;
  left: 0px;
  right: 0px;

  overflow: hidden;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */

  border-bottom: 1px solid ThreeDShadow;
}

#toolbar > div
{
  display: inline-block;
  text-align: center;
  min-width: 50px;
  height: 100%;
  line-height: 50px;
}

#toolbar .button
{
  position: relative;
  padding: 0 1em;
  border-right: 1px solid ThreeDShadow;
  z-index: 10;
}

#toolbar .button:hover
{
  background: rgba(255, 255, 255, 0.5);
}

#toolbar .button.pressed
{
  background: rgba(0, 0, 0, 0.2);
}

#toolbar .button img
{
  vertical-align: middle;
  position: relative;
  top: -2px;
  padding-right: 0.2em;
}

#toolbar .panel
{
  float: right;
  border-right: none;
  border-left: 1px solid ThreeDShadow;
}

#toolbar .panel span
{
  display: inline-block;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: 'Consolas', monospace;
  font-size: 1.5em;
  background: #222;
  color: #999;
  border-radius: 5px;
}

#toolbar #summary_passed_tests span
{
  color: #6a4;
}

#toolbar #summary_failed_tests span
{
  color: #a42;
}

#toolbar #summary_error_tests span
{
  color: #c92;
}


/*******************************************************************************
 * $STATUSBAR
 */

#statusbar
{
  position: absolute;
  bottom: 0px;
  height: 25px;
  left: 0px;
  right: 0px;

  overflow: hidden;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */

  border-top: 1px solid ThreeDShadow;

  padding: 5px 5px;

  color: #666;
}


/*******************************************************************************
 * $TABS
 */

#tabs
{
  position: absolute;
  top: 55px;
  height: 30px;
  left: 5px;
  right: 5px;

  overflow: hidden;
}


#tabs .tab
{
  display: inline-block;
  height: 100%;
  line-height: 30px;

  white-space: nowrap;

  padding: 0 1em;
  margin-right: 1px;

  background: ThreeDFace;
  border: 1px solid #666;
  border-bottom: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */
}

#tabs .tab:hover
{
  background: ThreeDHighlight;
}

#tabs .tab.selected
{
  font-weight: bold;
  background: ThreeDHighlight;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


/*******************************************************************************
 * $TESTSUITES
 */

#testsuites
{
  position: absolute;
  top: 85px;
  bottom: 30px;
  left: 5px;
  right: 5px;

  border: 1px solid #666;
  background: Window;
}

#command_bar
{
  padding: 5px;
  height: 25px;
  border-bottom: 1px solid silver;
}

#command_bar a
{
  margin: 5px;
}

#testsuite_container
{
  position: absolute;
  top: 25px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  overflow: auto;
}


/*******************************************************************************
 * $TESTSUITE
 */

#testsuites .testsuite
{
  /*border: 1px solid red;*/
  display: none;
}

#testsuites .testsuite.active
{
  /*background: #fdd;*/
  display: block;
}

#testsuites .title
{
  white-space: nowrap;
  padding-left: 20px;
  background: url(../images/not_run.png) no-repeat left center;
}


/*******************************************************************************
 * $TESTCASE
 */

#testsuites .testcase
{
  border-bottom: 1px solid silver;
  padding: 5px;
}

#testsuites .testcase:hover
{
  background: rgba(0, 128, 255, 0.03);
}

#testsuites .testcase .title label
{
  display: inline-block;
  width: 100%;
  line-height: 1em;
}

#testsuites .testcase .title input
{
  position: relative;
  vertical-align: middle;
}

#testsuites .testcase > .title .name
{
  font-weight: bold;
}


#testsuites .tests
{
  display: none;
}


/*******************************************************************************
 * $TESTS
 */


#testsuites .testcase .test
{
  padding-left: 2em;
}

#testsuites .testcase .test .failures
{
  margin-left: 3em;
}

#testsuites .testcase .test .failures .failure
{
  padding: 0.5em;
  margin-bottom: 3px;
}

#testsuites .testcase .test .failures .failure pre
{
  border: 1px solid silver;
  color: #666;
  background: #eee;
  padding: 0.5em;
  margin: 0.5em 0 0 0;
}

#testsuites .testcase .test .failures .failure pre a
{
  text-decoration: none;
}

.test .metadata
{
  display: inline-block;
}



/*******************************************************************************
 * $TEST_STATUS
 */

#testsuites .passed > .title
{
  background-image: url(../images/accept.png);
}

#testsuites .failed > .title
{
  background-image: url(../images/exclamation.png);
}

#testsuites .error > .title
{
  background-image: url(../images/error.png);
}

#testsuites .skipped > .title
{
  background-image: url(../images/skip.png);
}

#testsuites .missing > .title
{
  background-image: url(../images/missing.png);
}

/* Partially missing testcases */
#testsuites .missing.passed > .title
{
  background-image: url(../images/missing_accept.png);
}
#testsuites .missing.failed > .title
{
  background-image: url(../images/missing_exclamation.png);
}
#testsuites .missing.error > .title
{
  background-image: url(../images/missing_error.png);
}
#testsuites .missing.partial > .title
{
  background-image: url(../images/missing_not_run.png);
}


/*******************************************************************************
 * $METADATA
 */

#testsuites .metadata
{
  color: #999;
  margin-left: 0.5em;
}
