html
{
  font-size: 9pt;
}


/*******************************************************************************
 * $TEST_SUITES
 */

#testsuites
{
  position: absolute;
  top: 5px;
  height: 30px;
  left: 5px;
  right: 5px;

  overflow: hidden;
}


#testsuites .tab
{
  display: inline-block;
  height: 100%;
  line-height: 30px;

  white-space: nowrap;

  padding: 0 1em;
  margin-right: 1px;

  background: ThreeDFace;
  border: 1px solid #666;
  border-bottom: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#testsuites .tab:hover
{
  background: ThreeDHighlight;
}

#testsuites .tab.selected
{
  font-weight: bold;
  background: ThreeDHighlight;
}


/*******************************************************************************
 * $TEST_CASES
 */

#testcases
{
  position: absolute;
  top: 35px;
  bottom: 5px;
  left: 5px;
  right: 5px;

  border: 1px inset ButtonFace;
  background: Window;

  overflow: auto;
}

#testcases .testcase
{
  border-bottom: 1px solid silver;
  padding: 5px;
}

#testcases .testcase:hover
{
  background: rgba(0, 128, 255, 0.03);
}

#testcases .testcase .title label
{
  display: inline-block;
  width: 100%;
  line-height: 1em;
}

#testcases .testcase .title input
{
  position: relative;
  vertical-align: middle;
}


#testcases .testcase > .title
{
  font-weight: bold;
}


#testcases .testcase .test
{
  padding-left: 2em;
}


#testcases .title
{
  white-space: nowrap;
  padding-left: 20px;
  background: url(../images/not_run.png) no-repeat left center;
}


/*******************************************************************************
 * $TEST_CASE_STATUSES
 */

#testcases .suceeded > .title
{
  background-image: url(../images/accept.png);
}

#testcases .failed > .title
{
  background-image: url(../images/exclamation.png);
}

#testcases .error > .title
{
  background-image: url(../images/error.png);
}
