############
## Filetypes
############

*.sublime-workspace
*.vcxproj.user
*.opensdf
*.sdf
*.suo
*.rbz

############
## Folders
############

.vscode/
tests_old/
Debug*/
Release*/
ipch/
xcuserdata/


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


########
## OSX
########

.DS_Store
*.project
