<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/bootstrap-vue/bootstrap-vue.css"/>
    <link rel="stylesheet" href="../css/test_runner.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <title>TestUp 2</title>
  </head>
  <body>

    <div id="app">

      <div class="container-fluid">

        <button type="button" class="btn btn-primary">
          <i class="fas fa-play"></i>
          Run
        </button>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
          Discover
        </button>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-forward"></i>
          Re-run...
        </button>

        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary"
                  title="Total number of tests passed">0</button>
          <button type="button" class="btn btn-secondary"
                  title="Number of tests">0</button>
          <button type="button" class="btn btn-secondary"
                  title="Number of failed tests">0</button>
          <button type="button" class="btn btn-secondary"
                  title="Number of tests with errors">0</button>
        </div>

        <button type="button" class="btn btn-primary" title="Preferences">
          <i class="fas fa-cog"></i>
        </button>


        <b-card no-body>
          <b-tabs card no-fade>
            <b-tab class="tu-test-suite" v-bind:title="test_suite.title" v-for="test_suite in test_suites" v-bind:key="test_suite.id">
              <div>
                <a href="#" v-on:click="selectAll(test_suite)">Select All</a>
                <a href="#" v-on:click="selectNone(test_suite)">Select None</a>
              </div>
              <ul>
                <li class="tu-test-case" v-for="test_case in test_suite.test_cases" v-bind:class="{ expanded: test_case.expanded }">
                  <img src="../images/not_run.png">
                  <b-form-checkbox v-model="test_case.enabled">&nbsp;</b-form-checkbox>
                  <span class="tu-title" v-on:click="test_case.expanded = !test_case.expanded">
                    {{ test_case.title }}
                  </span>
                  <span class="tu-metadata">
                    (
                      Tests: <span title="Tests" class="size">{{ test_case.tests.length }}</span>,
                      Passed: <span title="Passed" class="passed">0</span>,
                      Failed: <span title="Failed" class="failed">0</span>,
                      Errors: <span title="Errors" class="errors">0</span>,
                      Skipped: <span title="Skipped" class="skipped">0</span>
                    )
                  </span>
                  <ul class="tu-tests">
                    <li class="tu-test" v-for="test in test_case.tests">
                      <img src="../images/not_run.png">
                      <b-form-checkbox v-model="test.enabled">{{ test.title }}</b-form-checkbox>
                    </li>
                  </ul>
                </li>
              </ul>
            </b-tab>
          </b-tabs>
        </b-card>


        <div>
          {{ num_test_suites }} test suites,
          {{ num_test_cases }} test cases,
          {{ num_tests }} tests discovered -
          {{ new Date().toLocaleTimeString() }}
        </div>

      </div><!-- .container -->

    </div><!-- #app -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../vendor/jquery.slim.min.js"></script>
    <script src="../vendor/popper.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vendor/vue.js"></script>
    <script src="../vendor/bootstrap-vue/bootstrap-vue.js"></script>
    <script src="../js/test_runner.js"></script>
  </body>
</html>
