<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../css/test_runner.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <title>TestUp 2</title>
  </head>
  <body>

    <div id="app" v-cloak>

      <su-toolbar>

        <su-button v-on:click.native="runTests" title="Run selected tests">
          <i class="fas fa-play"></i>
          Run
        </su-button>
        <su-button v-on:click.native="discoverTests" title="Discover/rediscover tests">
          <i class="fas fa-search"></i>
          Discover
        </su-button>
        <su-button v-on:click.native="reRun" title="Re-run a previous test run">
          <i class="fas fa-forward"></i>
          Re-run...
        </su-button>

        <su-panel class="su-flex"></su-panel>

        <su-panel-group class="tu-suite-stats">
          <su-panel title="Total number of tests">
            {{ active_test_suite_stats.tests }}
          </su-panel>
          <su-panel title="Number of passed tests" class="tu-passed">
            {{ active_test_suite_stats.passed }}
          </su-panel>
          <su-panel title="Number of failed tests" class="tu-failed">
            {{ active_test_suite_stats.failed }}
          </su-panel>
          <su-panel title="Number of tests with errors" class="tu-errors">
            {{ active_test_suite_stats.errors }}
          </su-panel>
        </su-panel-group>

        <su-button title="Preferences">
          <i class="fas fa-cog"></i>
        </su-button>

      </su-toolbar>


      <su-tabs v-bind:selected-index="activeTestSuiteIndex"
               v-on:tab-change="changeTestSuite($event)" ref="tabbar">
        <su-tab v-bind:title="test_suite.title"
                v-for="(test_suite, index) in test_suites" v-bind:key="test_suite.id">
          <div class="tu-test-suite-header">
            <a href="#" v-on:click="selectTestSuite(test_suite, true)">Select All</a>
            <a href="#" v-on:click="selectTestSuite(test_suite, false)">Select None</a>
          </div>
          <su-scollable>
            <tu-test-suite>
              <tu-test-case v-for="test_case in test_suite.test_cases"
                            v-bind:key="test_case.id"
                            v-bind:test-case="test_case">
              </tu-test-case>
            </tu-test-suite>
          </su-scollable>
        </su-tab>
      </su-tabs>


    <su-statusbar>
      {{ statusBarText }}
    </su-statusbar>

    </div><!-- #app -->

    <!-- <script src="../vendor/vue.js"></script> -->
    <script src="../js/runner.js"></script>
  </body>
</html>
