[v-cloak] {
  display: none;
}


@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  src: url(../fonts/OpenSans-BoldItalic.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/OpenSans-Italic.ttf);
}


* {
  cursor: inherit;
  box-sizing: border-box;
}

input, select, textarea, a[href] {
  cursor: auto;
}

html, body {
  border: 0;
  padding: 0;
  margin: 0;
  cursor: default;
}


body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  /* font: caption; */
  /* font-size: 12px; */
  font-size: 14px;
  background: #eee;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  /* transition: all .2s ease-out; */
  transition: max-height .2s ease-out;
}
.slide-fade-leave-active {
  /* transition: all .2s ease-out; */
  transition: max-height .2s ease-out;
}
.slide-fade-enter, .slide-fade-leave-to {
  /* transform: translateX(10px); */
  /* opacity: 0; */
  overflow: hidden;
  max-height: 0;
  /* transform: scaleY(0);
  transform-origin: top; */
}
.slide-fade-leave, .slide-fade-enter-to {
  /* transform: translateX(10px); */
  /* transform: scaleY(1);
  transform-origin: top; */
  /* opacity: 1; */
  max-height: 10000px;
}


/* App Style */

.tu-test-suite-header {
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid #ddd;
}
.tu-test-suite-header a {
  display: inline-block;
  margin: 0 0.25rem;
}

.tu-metadata {
  color: #999;
}

.su-toolbar,
.su-tab-bar,
.su-statusbar,
.tu-test-suite-header {
  overflow: hidden;
  white-space: nowrap;
}

.su-scollable {
  /* Found no better way to define the position of this other than hard coding
   * guestimates based on current layout of the header and footer.
   */
  position: absolute;
  left: 0;
  right: 0;
  top: 7.0rem;
  bottom: 1.5rem;
  /* background: #faa; */
}

.su-tabs {
  font-size: 12px;
}
